__pycache__/
cvib_infrastructure/condor/reserved-gpu-status/old/
ga/
GAN/logs/
GAN/gan_sandbox/
GAN/cyclegan-ct-abdomen/download/
GAN/cyclegan-ct-abdomen/img_samples/
GAN/cyclegan-ct-abdomen/model-0/__pycache__/
GAN/cyclegan-ct-abdomen/model-0/images/
GAN/cyclegan-ct-abdomen/model-0/logs/
GAN/cyclegan-ct-abdomen/model-0/saved_model/
GAN/cyclegan-ct-abdomen/prepare/csvs/
GAN/3DcycleGAN/model/__pycache__/
GAN/3DcycleGAN/model/images/
GAN/3DcycleGAN/model/log/
GAN/3DcycleGAN/model/old_images/
GAN/3DcycleGAN/model/old_logs/
GAN/3DcycleGAN/model/saved_model/
GAN/3DcycleGAN/prepare/csvs/
inputs/
kidney/
model_weights/
nn/
working/